$theme-color: #71a871;
$secondary-color: #889;
$wrong-color: #e53935;
$duplicate-color: #fbc02d;
$correct-color: #4caf50;

@mixin flex-ccc {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes wrong {
  30% {
    background-color: $wrong-color;
  }
  60% {
    background-color: $wrong-color;
  }
}

@keyframes duplicate {
  30% {
    background-color: $duplicate-color;
  }
  60% {
    background-color: $duplicate-color;
  }
}

@keyframes correct {
  30% {
    background-color: $correct-color;
  }
  60% {
    background-color: $correct-color;
  }
}
