$theme-color: #71a871;
$secondary-color: #556;
$wrong-color: #e53935;
$duplicate-color: #fbc02d;
$correct-color: #4caf50;

@mixin flex-ccc {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes fadein {
  0% {
    color: $correct-color;
    text-shadow: 0 0 5px $correct-color;
  }
}

@keyframes wrong {
  5% {
    background-color: $wrong-color;
  }
  15% {
    background-color: $wrong-color;
  }
}

@keyframes duplicate {
  5% {
    background-color: $duplicate-color;
  }
  15% {
    background-color: $duplicate-color;
  }
}

@keyframes correct {
  5% {
    background-color: $correct-color;
  }
  15% {
    background-color: $correct-color;
  }
}
