@import "vars";

.grid {
  display: flex;
  position: relative;

  img {
    width: 400px;
    max-height: 550px;
    position: relative;
  }

  .letter {
    align-items: center;
    background-color: darken($secondary-color, 20%);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: flex;
    height: 2em;
    justify-content: center;
    position: absolute;
    user-select: none;
    width: 2em;

    &.selected {
      background-color: desaturate(darken($theme-color, 10%), 10%);
    }
    &.last {
      background-color: adjust-hue(saturate($theme-color, 10%), -40deg);
    }
  }
}

.level1 {
  img {
    top: 80px;
    left: 70px;
  }
  .letters {
    transform: scale(1.35) translate(-358px, 76px);
  }
}

.level2 {
  img {
    top: 65px;
    left: 40px;
  }
  .letters {
    transform: scale(1.25) translate(-373px, 78px);
  }
}

.level3 {
  img {
    top: 30px;
    left: 20px;
  }
  .letters {
    transform: scale(1.1) translate(-392px, 75px);
  }
}

.level4 {
  img {
    top: 30px;
    left: 30px;
  }
  .letters {
    transform: translate(-414px, -20px);
  }
}
