@import "vars";

.grid {
  display: flex;
  position: relative;

  img {
    height: 550px;
    position: relative;
  }

  .letter {
    align-items: center;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: flex;
    height: 2em;
    justify-content: center;
    position: absolute;
    user-select: none;
    width: 2em;

    &.selected {
      background-color: #999;
    }
  }
}

.level1 {
  img {
    top: 100px;
    left: 80px;
  }

  .letters {
    transform: scale(1.9) translate(-363px, 75px);
  }
}
.level2 {
  img {
    top: 90px;
    left: 40px;
  }

  .letters {
    transform: scale(1.75) translate(-390px, 80px);
  }
}
.level3 {
  img {
    top: 30px;
    left: 20px;
  }

  .letters {
    transform: scale(1.55) translate(-393px, 73px);
  }
}
.level4 {
  img {
    top: 30px;
    left: 110px;
  }

  .letters {
    transform: translate(-295px, -20px);
  }
}
